* {
    webkit-box-sizing: border-box;
       moz-box-sizing: border-box;
           box-sizing: border-box;
}


html {
    background-color: black;
}
.body {
    display: block;
    background: black;
}

.header {
    font-size: 25px;
    position: fixed;
    background-color: black;
    color: white;
    font-family: 'Abel', sans-serif;
}

.name a {
    float: left;
    padding: 10px;
    color:white;
    text-decoration: none;
}
.main-nav {
   position: fixed;
   top: 45px;
   width: 100%;
   text-align: left; 
   padding-top: 0px;
   z-index: 1;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.navigation {
    
}

.about-me {
    font-family: 'Raleway', sans-serif;
    color: beige;
    display: inline-block;
    padding-top: 200px;
}

