* {
    webkit-box-sizing: border-box;
       moz-box-sizing: border-box;
           box-sizing: border-box;
}


html {
    background-color: black;
}
.body {
    display: block;
    background: black;
}

.header {
    font-size: 25px;
    position: fixed;
    background-color: black;
    color: white;
    font-family: 'Abel', sans-serif;
}

.box {
    max-width: 100%;
    margin-bottom:3%;
    white-space:nowrap;
    
}



.name a {
    float: left;
    padding: 10px;
    color:white;
    text-decoration: none;
}
.main-nav {
   position: fixed;
   top: 45px;
   width: 100%;
   text-align: left; 
   padding-bottom: 100px;
   z-index: 1;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.navigation {
    
}

.about-me {
    font-family: 'Raleway', sans-serif;
    color: maroon;
    display: block;
    padding-top: 200px;
    margin-left:50px;
    align-content: center;
}

pictures {
    width:700px;
    height: 400px;
}

img {
    max-width: 90%;
    vertical-align: bottom;
    
}

.contact {
    display: inline-block; 
    color: white;
    text-align: center;
    margin-top: 200px;
    text-decoration: none;
}


/*-----------footer------------*/
.social {
    max-width: 50%;
    position: absolute;
    left: 90%;
    
    top: 1.5em;
    
}
.social a {
    display: block;
    max-width: 35px;
}

/*=====================================
            Media Queries
  =====================================*/
    @media only screen and (min-width:768px) {
        
        .container {
            width: 100%;
            margin:0;
            padding-left: 1%;
            padding-top: 1%;
            padding-bottom: 5%;
            display:grid;
            clear:both;
            
        }
        
        .image{
            width: 90%;
            display:inline-grid;
            
        }
        
       img:hover {
            opacity: .3;
            transition: .3s;
        }
        
        about-me {
    font-family: 'Raleway', sans-serif;
    color: maroon;
    display: block;
    padding-top: 200px;
    margin-left:50px;
    align-content: center;
}
        
        .contact {
    display: inline-block;
    color: white;
    text-align: center;
    margin-top: 100px;
    text-decoration: none;
}
}

/*=====clearfix======*/
*.clearfix {
    clear: all;
    overflow: auto;
}
    