* {
    webkit-box-sizing: border-box;
       moz-box-sizing: border-box;
           box-sizing: border-box;
}


html {
    background-color: black;
}
.body {
    display: block;
    background: black;
}


.header{
    font-size: 25px;
    position: fixed;
    background-color: black;
    color: white;
    font-family: 'Abel', sans-serif;
}

.name a:hover {
    opacity: .3;
    transition:.3s;
}

.name a {
    float: left;
    display: inline-block;
    padding: 10px;
    color:white;
    text-decoration: none;
}

.main-nav {
   position: fixed;
   top: 45px;
   width: 100%;
   text-align: left; 
   padding-bottom: 100px;
   z-index: 1;
}


.main-nav a {
  color: white;
  text-decoration: none;
}

.main-nav a:hover {
    opacity: .3;
    transition:.3s;
}

h3{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.about-me {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: maroon;
    width:50%;
    float:left;
    margin-top: 100px;
}


.pictures {
  display:inline-block;
  width:100%;
  text-align:left;
  margin:auto;
  margin-top:30px;
  padding-bottom: 1em;
  vertical-align: top;
}

img {
    max-width:400px;
    margin: 5 5 5 5px;
    vertical-align: top;
}

.contact {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    color: white;
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
    text-decoration: none;
}


/*-----------footer------------*/

.main-footer {
    position: relative;
    height: 200px;
}

.clearfix{
    overflow: auto;
}

img.icons {
    max-width: 50px;
    padding: 5px;
    float: right;
}
.social {
    position: absolute;
    left: 2.25em;
    bottom: 1.5em;
    
    
}
.social a {
    display: inline-block;
    max-width: 35px;
    margin: 2px 2px 2px 2px;
}

.social a:hover{
    opacity: .3;
    transition:.3s;
}
/*=====================================
            Media Queries
  =====================================*/
    @media only screen and (min-width:460px)
    @media only screen and (min-width:768px) {
                
    
       img:hover {
            opacity: .3;
            transition: .3s;
        }
        
        about-me {
    font-family: 'Raleway', sans-serif;
    color: maroon;
    display: block;
    padding-top: 200px;
    margin-left:50px;
    align-content: center;
}
        
        .contact {
    display: inline-block;
    color: white;
    text-align: center;
    margin-top: 100px;
    text-decoration: none;
}
}

/*=====clearfix======*/
*.clearfix {
    clear: all;
    overflow: auto;
}
    